#mobilenav{position:fixed;height:100%;width:100%;top:0;left:0;z-index:9999999;-webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;transition:all 0.6s ease-in-out 0s;-webkit-transform:translate(-110%, 0px);-moz-transform:translate(-110%, 0px);-ms-transform:translate(-110%, 0px);-o-transform:translate(-110%, 0px);transform:translate(-110%, 0px);}
#mobilenav.opened{-webkit-transform:translate(0, 0px);-moz-transform:translate(0, 0px);-ms-transform:translate(0, 0px);-o-transform:translate(0, 0px);transform:translate(0, 0px);}
.mobilenav__inner{background:#fff;max-width:84%;position:relative;height:100%;}
.mobilenav__inner .menu-top-menu-container{height:calc(100% - 128px);overflow:auto;}
.mobilenav__inner .menu_close{position:absolute;top:0;right:-20%;background:rgba(0,0,0,0.4);padding:10px;cursor:pointer;width:20%;height:100%;cursor:pointer;}
.mobilenav__inner .menu_close i{font-size:18px;top:50%;left:0;border-radius:0 40px 40px 0;padding:10px;position:absolute;background:#1e1e1e;border-left:1px solid #000000;color:#fff;transform:translateY(-50%);}
.toplg{padding:0px;text-align:center;padding:40px 0;}
.toplg img{max-width:250px;margin:0 auto;}
#mobilenav h3{color:#fff;font-size:22px;padding:5px 10px;margin-bottom:0;background: #F89220;margin: 10px 0px;display: none;}
#mobilenav .mobile-menu{margin:0;padding:0;}
#mobilenav .mobilenav__inner > div:not(.toplg){overflow-y:auto;height:calc(100% - 128px);}
#mobilenav li{display:block;position:relative;overflow:auto;padding: 0px;}
#mobilenav li a{color:#333;position:relative;display:block;margin:0;padding:10px 15px;font-size:15px;border-bottom:solid 1px #7EAEFF;border-top:solid 0px #4b4e50;-webkit-transition:all 0.35s linear;-moz-transition:all 0.35s linear;-o-transition:all 0.35s linear;transition:all 0.35s linear;text-transform: none;}
#mobilenav ul.mobile-menu > li > a{background:#fff;font-weight: 500;}
#mobilenav .arrow{position:absolute;top:0px;right:0;width:40px;height:48px;cursor:pointer;text-align:center;font-family:"Font Awesome\ 5 Pro";font-weight:900;line-height:25px;color:#060606;background:rgba(0,0,0,0.085);-webkit-transition:all 0.25s ease 0s;-moz-transition:all 0.25s ease 0s;transition:all 0.25s ease 0s;}
#mobilenav .arrow:before{position:absolute;top:50%;transform:translateY(-50%);content:"\f107";font-size:18px;left:43%;}
#mobilenav ul ul.sub-menu{background:#f0f0f0;}
#mobilenav ul ul.sub-menu li a{color: #de71a5;font-weight: 900;}
#mobilenav ul > li.menu-item-has-children.open>.arrow:before{content:"\f106";}
#mobilenav ul.sub-menu{display:none;list-style:none;margin:0;padding:0;}
.panel-overlay{opacity:0;filter:alpha(opacity=0);}
.panel-overlay.active{background:#000;position:fixed;left:0;right:0;top:0;bottom:0;z-index:999999;min-height:100vh;opacity:0.6;filter:alpha(opacity=35);-webkit-transition:opacity 0.2s ease-in-out 0s;-moz-transition:opacity 0.2s ease-in-out 0s;transition:opacity 0.2s ease-in-out 0s;}
#showmenu{position:relative;display: block;}
#hamburger .hamburger{margin-left:10px}
.hamburger{display:inline-block;width:30px;height:30px;cursor:pointer;-webkit-transition-property:opacity,-webkit-filter;transition-property:opacity,filter;transition-property:opacity,filter,-webkit-filter;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:linear;transition-timing-function:linear;font:inherit;color:inherit;text-transform:none;background-color:transparent;border:0;margin:0;overflow:visible}
.hamburger-box{width:30px;height:24px;display:inline-block;position:relative}
.hamburger-inner{display:block;top:50%;margin-top:-2px}
.hamburger-inner,.hamburger-inner::after,.hamburger-inner::before{width:30px;height:3px;background-color:#000;border-radius:2px;position:absolute;-webkit-transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-timing-function:ease;transition-timing-function:ease}
.hamburger-inner::after,.hamburger-inner::before{content:"";display:block}
.hamburger-inner::before{top:-7.55px}.hamburger-inner::after{bottom:-10px}
.hamburger--collapse .hamburger-inner::before{-webkit-transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19);transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19);transition:top .12s .3s cubic-bezier(.33333,.66667,.66667,1),transform .15s cubic-bezier(.55,.055,.675,.19),-webkit-transform .15s cubic-bezier(.55,.055,.675,.19)}
.hamburger--collapse .hamburger-inner::after{top:-15px;-webkit-transition:top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear;transition:top .3s .3s cubic-bezier(.33333,.66667,.66667,1),opacity .1s linear}
.hamburger--collapse .hamburger-inner{top:auto;bottom:0;-webkit-transition-duration:.15s;transition-duration:.15s;-webkit-transition-delay:.15s;transition-delay:.15s;-webkit-transition-timing-function:cubic-bezier(.55,.055,.675,.19);transition-timing-function:cubic-bezier(.55,.055,.675,.19)}
.hamburger--collapse.is-active .hamburger-inner{-webkit-transform:translate3d(0,-10px,0) rotate(-45deg);transform:translate3d(0,-10px,0) rotate(-45deg);-webkit-transition-delay:.32s;transition-delay:.32s;-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1)}
.hamburger--collapse.is-active .hamburger-inner::before{top:0;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);-webkit-transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1);transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1);transition:top .12s .18s cubic-bezier(.33333,0,.66667,.33333),transform .15s .42s cubic-bezier(.215,.61,.355,1),-webkit-transform .15s .42s cubic-bezier(.215,.61,.355,1)}
.hamburger--collapse.is-active .hamburger-inner::after{top:0;opacity:0;-webkit-transition:top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear;transition:top .3s cubic-bezier(.33333,0,.66667,.33333),opacity .1s .27s linear}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.navbar-nav li .dropdown-menu {
    background-color: #fff;
    border-radius: 5px;
    transition: .4s;
    transform-origin: 0 0;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.32);
    border: 0;
    padding: 0px;
    margin: 0px;
}
.dropdown-menu {
    padding: 0;
    min-width: 250px;
    border-radius: 0px;
    background: #fff;
    /* border: 0px; */
    animation-duration: 0.5s;
    animation-name: fadeInUp;
    animation-fill-mode: both;
    border: solid 0px #6094e8;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.dropdown-menu > li{
    padding:0px;
}
.dropdown-menu > li > a:after{
    position: absolute;
    right: 10px;
    top: 15px;
}
.dropdown-menu > li > a{
    padding:10px 10px;
    position: relative;
}
/*sticky header position*/
nav.navbar{
    padding:0px;
}
nav.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
     padding: 0px;
    -webkit-animation: fadeInDown 1s both;
    animation: fadeInDown 1s both;
    opacity: 0.7;
    background: #BE3131;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
nav.navbar .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #363636;
    padding:15px 15px;
}
nav.navbar .navbar-nav{
    width: 100%;
    justify-content: center;
}
nav.navbar .navbar-nav .nav-item{
    margin: 0px;
    padding: 0;
}
nav.navbar .navbar-nav .nav-item