.help-block strong{
	padding-left: 10px;
	color: red;
}
.navbar-brand{
	max-width: 110px;
}
.image__thumbnail {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.social .image__thumbnail,.services .image__thumbnail{
  margin-top: 20px;
}
.image__thumbnail img {
    position: relative;
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 400px) {
 	.image__thumbnail {
	    width: 130px;
	    height: 130px;
	}
    .image_thumb_page{
        padding: 1px;
    }
}

@media only screen and (min-width: 600px) {
 	.image__thumbnail {
	    width: 140px;
	    height: 140px;
	}
    .image_thumb_page{
        padding: 5px;
    }
}

@media only screen and (min-width: 900px) {
 	.image__thumbnail {
	    width: 140px;
	    height: 140px;
	}
    .image_thumb_page{
        padding: 5px;
    }
}

@media only screen and (min-width: 1100px) {
 	.image__thumbnail {
	    width: 140px;
	    height: 140px;
	}
    .image_thumb_page{
        padding: 8px;
    }
}
@media only screen and (min-width: 1400px) {
 	.image__thumbnail {
	    width: 180px;
	    height: 180px;
	}
    .image_thumb_page{
        padding: 10px;
    }
}

.image__delete {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: rgba(60, 141, 188, 0.9);
    font-size: 11px;
    color: white !important;
}
.image__button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    color: rgba(255,255,255,0.8);
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.alert-success {
    background: #31ce36;
    color: #fff;
}
.card-header button a{
	color: #ffffff;
}
.breadcrumbs li a{
	font-size: 15px;
	color: #575962;
	font-weight: 700;
}
.breadcrumbs li:last-child a{
	color: #1572e8;
	font-weight: 400;
}
.card-body .user-profile{
	padding-bottom: 50px;
}
.alert .close{
	top: 0px;
	right: 12px;
}
.alert-danger h4,.alert-danger li{
	color: red;
}
.form-add-user .custom-checkbox{
	padding-left: 35px;
}
.table-responsive tr td a{
	color: unset;
}

/** Css menu */
.dd { position: relative; display: block; margin: 0; padding: 0; 
    max-width: 800px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { 
    display: block; height: 30px; 
    margin: 5px 0; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle {
    display: block;
    height: unset;
    line-height: 3;
    padding-left: 14px;
    font-size: 14px;
    background: #ecf0f1;
    border-radius: 3px;
}
.dd-handle:hover{
    background: #59627557;
    color: black;
    border-color: #59627557;
}

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

.dd-hover > .dd-handle { background: #2ea8e5 !important; }
/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }
.jq-toast-wrap.top-right {
    top: 22px;
    right: 15px;
}
.jq-toast-wrap{
    width: 290px;
}
.dd-item .button-group {
    position: absolute;
    top: 2px;
    right: 23px;
    z-index: 10;
    height: 45px;
    line-height: 45px;
}
.modal-title{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    font-weight: 500;
    text-transform: uppercase;
}
.modal-header .close {
    outline: none;
}
/** End menu */

.img-responsive{
	max-width: 70px;
	max-height: 70px;
}
.card-header .icon-header{
  font-size: 25px;
	margin-right: 20px;
}
.card-header .flaticon-right-arrow{
  margin: 0 10px;
}
.card-header-contact span .flaticon-right-arrow,.card-header-page span .flaticon-right-arrow{
	margin-right: 15px;
}
.form-contact table{
	width: 100% !important;
}
.modal__menu .modal-header{
	text-align: center;
}

.modal__menu .modal-header h4{
	font-size: 18px;
	width: 100%;
}
.modal__menu .modal-header .close{
	color: red;
}
.dataTables_length button{
	margin-left: 25px;
	padding: 3px 13px;
	font-size: 13px;
}
.dataTables_length button i{
	margin-right: 5px;
}

.card-body .badge-title{
	padding: 8px 10px;
	font-size:13px;
	border-radius: unset;
	width: 100%
}
.alert-danger{
	color: red;
}
.item-child a{
    padding-left: 20px !important;
}
.link_cate{
    color: #7b98ff !important;
}

/* css box right */
.box {
  position: relative;
  border-radius: 3px;
  /*background: #ffffff;*/
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.box.box-primary {
  border-top-color: #3c8dbc
}

.box.box-info {
  border-top-color: #00c0ef
}

.box.box-danger {
  border-top-color: #dd4b39
}

.box.box-warning {
  border-top-color: #f39c12
}

.box.box-success {
  border-top-color: #00a65a
}

.box.box-default {
  border-top-color: #d2d6de
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none
}

.box .nav-stacked>li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0
}

.box .nav-stacked>li:last-of-type {
  border-bottom: none
}

.box.height-control .box-body {
  max-height: 300px;
  overflow: auto
}

.box .border-right {
  border-right: 1px solid #f4f4f4
}

.box .border-left {
  border-left: 1px solid #f4f4f4
}

.box.box-solid {
  border-top: 0
}

.box.box-solid>.box-header .btn.btn-default {
  background: transparent
}

.box.box-solid>.box-header .btn:hover,
.box.box-solid>.box-header a:hover {
  background: rgba(0, 0, 0, 0.1)
}

.box.box-solid.box-default {
  border: 1px solid #d2d6de
}

.box.box-solid.box-default>.box-header {
  color: #444;
  background: #d2d6de;
  background-color: #d2d6de
}

.box.box-solid.box-default>.box-header a,
.box.box-solid.box-default>.box-header .btn {
  color: #444
}

.box.box-solid.box-primary {
  border: 1px solid #3c8dbc
}

.box.box-solid.box-primary>.box-header {
  color: #fff;
  background: #3c8dbc;
  background-color: #3c8dbc
}

.box.box-solid.box-primary>.box-header a,
.box.box-solid.box-primary>.box-header .btn {
  color: #fff
}

.box.box-solid.box-info {
  border: 1px solid #00c0ef
}

.box.box-solid.box-info>.box-header {
  color: #fff;
  background: #00c0ef;
  background-color: #00c0ef
}

.box.box-solid.box-info>.box-header a,
.box.box-solid.box-info>.box-header .btn {
  color: #fff
}

.box.box-solid.box-danger {
  border: 1px solid #dd4b39
}

.box.box-solid.box-danger>.box-header {
  color: #fff;
  background: #dd4b39;
  background-color: #dd4b39
}

.box.box-solid.box-danger>.box-header a,
.box.box-solid.box-danger>.box-header .btn {
  color: #fff
}

.box.box-solid.box-warning {
  border: 1px solid #f39c12
}

.box.box-solid.box-warning>.box-header {
  color: #fff;
  background: #f39c12;
  background-color: #f39c12
}

.box.box-solid.box-warning>.box-header a,
.box.box-solid.box-warning>.box-header .btn {
  color: #fff
}

.box.box-solid.box-success {
  border: 1px solid #00a65a
}

.box.box-solid.box-success>.box-header {
  color: #fff;
  background: #00a65a;
  background-color: #00a65a
}

.box.box-solid.box-success>.box-header a,
.box.box-solid.box-success>.box-header .btn {
  color: #fff
}

.box.box-solid>.box-header>.box-tools .btn {
  border: 0;
  box-shadow: none
}

.box.box-solid[class*='bg']>.box-header {
  color: #fff
}

.box .box-group>.box {
  margin-bottom: 5px
}

.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em
}

.box>.overlay,
.overlay-wrapper>.overlay,
.box>.loading-img,
.overlay-wrapper>.loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px
}

.box .overlay>.fa,
.overlay-wrapper .overlay>.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5)
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table
}

.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both
}

.box-header {
  display: block;
  padding: 10px;
  position: relative
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4
}

.collapsed-box .box-header.with-border {
  border-bottom: none
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
  margin-right: 5px
}

.box-header>.box-tools {
  position: absolute;
  right: 10px;
  top: 5px
}

.box-header>.box-tools [data-toggle="tooltip"] {
  position: relative
}

.box-header>.box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto
}

.box-header>.box-tools .dropdown-menu>li>a {
  color: #444!important
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3
}

.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84
}

.btn-box-tool.btn:active {
  box-shadow: none
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px
}

.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px
}

.box-body>.table {
  margin-bottom: 0
}

.box-body .fc {
  margin-top: 5px
}

.box-body .full-width-chart {
  margin: -19px
}

.box-body.no-padding .full-width-chart {
  margin: -9px
}

.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px
}

.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff
}

.checkboxlist {
    padding-left: 18px;
    overflow-y: auto;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.custom-checkbox {
    display: block;
    margin-top: 7px;
}
.checkboxlist .form-check{
    padding: 2px;
}

.custom-checkbox input[type=checkbox] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 8px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: .05s border-color ease-in-out;
}
.custom-checkbox{
    display: block;
    margin-top: 7px;
    color: #000000 !important;
}
.box.custom-box {
    border: none;
}
.box-body.custom-box {
    border: none;
    padding-right: 0px;
    padding-left: 0px;
    background: #ecf0f5;
}
.box-success .checkbox-products{
    max-height: 350px;
    padding-bottom: 30px;
}
.checkboxlist .form-check [type=checkbox]:not(:checked)+.form-check-sign:before{
    top: 0px;
    width: 18px;
    height: 18px;
}

table td:last-child{
    text-align: center;
}
.action-span i{
    font-size: 16px;
}
#edit-slug-buttons button{
    padding: 0 6px;
    font-size: 12px;
}
.custom-checkbox .form-check{
    padding: 5px;
}
.table-products table td
{
    padding: 20px 25px !important;
}
.logo-header a{
    margin: auto;
}
#repeater{
    width: 100%;
}

.page-table tr .remove-td-item{
    text-align: center;
    padding: 0 15px !important
}
.page-table tr td{
    padding: unset !important;
}
.image_thumb_page{
    position: relative;
}
.image_thumb_page img{
    width: 100%;
    max-height: 100%;
}
.page-table-home .image__thumbnail{
    max-width: 100px;
    max-height: 100px;
}
.list-notifications{
  max-height: 450px;
  overflow-y: auto;
}
.img_cate_thumb{
  margin: 5px;
}
.image__gallery {
  border: 1px solid #ccc;
  min-height: 200px;
  border-radius: 3px;
}
.image__thumbnail--style-1 {
  margin: 5px;
  margin-bottom: 0;
}
.title__group{
  background: #e0f3e2;
  padding: 10px;
}
.repeater .orther .image__thumbnail{
  width: 60px;
  height: 60px;
}
.repeater .orther .image__thumbnail .image__button{
  padding: unset;
}
.flex_grp{
  display: flex;
}
.flex_grp .text_title{
  margin-right: 5px;
}